<div style="height: 2%;">
  <h1 class="text-center">LISTA DE EMPLEADOS EN LA IMPORTADORA</h1>
  <table class="table table-striped header-fixed" style="height: 2rem;">
      <thead>
        <tr>
          <th scope="col">EMPLEADOS</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">OFICIO</th>
          <th scope="col">FECHA DE NACIMIENTO</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <img width="50" src="https://i.ytimg.com/vi/_5hhPS-yPJw/maxresdefault.jpg" class="rounded float-left" alt="MARCO CABRERA">
            </div>
          </td>
          <td >MARCO CABRERA</td>
          <td>DIRECTOR DE PRODUCCION</td>
          <td>11/05/1988</td>
          <td>

            <div>
              <img width="50" src="https://i.pinimg.com/474x/69/3a/60/693a609eafbf0ff1da8d6b064b377fac.jpg" class="rounded float-left" alt="PEDRO ALFONSO">
            </div>
          </td>
          <td>PEDRO ALFONZO</td>
          <td>AREA DE NEGOCIOS INTERNACIONALES</td>
          <td>25/03/1979</td>
          <td>

            <div>
              <img width="50" src="https://i.pinimg.com/originals/93/a9/d5/93a9d5ba1d452af44f8170a52a04eac1.jpg" class="rounded float-left" alt="JULIO MONTANER">
            </div>
          </td>
          <td>JULIO MONTANER</td>
          <td>AREA DE SEGURIDAD</td>
          <td>05/12/1991</td>
          <td>
      </tbody>
  </table>
</div>
